go 1.23.4

// use ./kafka


use ./orm
// use ./orm/drivers/postgres


use ./redis
use ./gql
use ./workers
use ./vectordb

// use ./mongo
// use ./neo4j

use ./eventsource
use ./eventsource/eventstores/gormstore